<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pousada</title>
</head>
<body>
    <h1>Cadastro de Pousada</h1>

   
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="/cadastrar_pousada">
        <label for="nome">Nome da Pousada:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="idPousada">ID da Pousada:</label><br>
        <input type="text" id="idPousada" name="idPousada" required><br><br>

        <label for="pessoasSuportadas">Capacidade (número de pessoas):</label><br>
        <input type="number" id="pessoasSuportadas" name="pessoasSuportadas" required><br><br>

        <label for="estado">Estado da Pousada:</label><br>
        <select id="estado" name="estado" required>
            <option value="disponível">Disponível</option>
            <option value="indisponível">Indisponível</option>
        </select><br><br>

        <label for="preco">Preço da Diária (em R$):</label><br>
        <input type="text" id="preco" name="preco" required><br><br>

        <button type="submit">Cadastrar Pousada</button>
    </form>
</body>
</html>
