<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Reserva</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
  </head>
  <body class="container">
    <h1 class="text-center">Formulário de Reserva</h1>
    <div>{% if error %} {{ error }} {% endif %}</div>
    <form action="/cadastrar_reserva" method="POST">
      <div class="form-group">
        <label for="nomeCompleto">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          id="nomeCompleto"
          name="nomeCompleto"
          required
        />
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" required />
      </div>
      <div class="form-group">
        <label for="pousadaId">Pousada ID</label>
        <input
          type="text"
          class="form-control"
          id="pousadaId"
          name="pousadaId"
          required
        />
      </div>
      <div class="form-group">
        <label for="diaCheckin">Data de Check-in</label>
        <input
          type="date"
          class="form-control"
          id="diaCheckin"
          name="diaCheckin"
          required
        />
      </div>
      <div class="form-group">
        <label for="diaCheckout">Data de Check-out</label>
        <input
          type="date"
          class="form-control"
          id="diaCheckout"
          name="diaCheckout"
          required
        />
      </div>
      <div class="form-group">
        <label for="quantidade">Número de Pessoas</label>
        <input
          type="number"
          class="form-control"
          id="quantidade"
          name="quantidade"
          required
        />
      </div>
      <div class="form-group">
        <label for="valor">Preço</label>
        <input
          type="number"
          class="form-control"
          id="valor"
          name="valor"
          required
        />
      </div>
      <div class="form-group">
        <label for="metodoPagamento">Método de Pagamento</label>
        <input
          type="text"
          class="form-control"
          id="metodoPagamento"
          name="metodoPagamento"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Incluir</button>
      <a href="{{ url_for('listar_reservas') }}" class="btn btn-secondary"
        >Ver Reservas</a
      >
    </form>
  </body>
</html>
