<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
</head>
<body>
    <h1>Lista de Reservas</h1>

    <form action="/buscar_pousada" method="get">
        <label for="pousada_id">Buscar Pousada pelo ID:</label>
        <input type="text" id="pousada_id" name="pousada_id" required>
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for reserva in reservas %}
        <li>
            Reserva de CPF: {{ reserva.cliente_cpf }} - Pousada ID: {{ reserva.pousada_id }} - Check-in: {{ reserva.diaCheckin }} - Check-out: {{ reserva.diaCheckout }}
        </li>
        {% endfor %}
    </ul>

    {% if pousada_encontrada %}
        <h2>Pousada Encontrada:</h2>
        <p><strong>Nome:</strong> {{ pousada_encontrada.nome }}</p>
        <p><strong>Capacidade:</strong> {{ pousada_encontrada.pessoasSuportadas }} pessoas</p>
        <p><strong>Preço Diária:</strong> R$ {{ pousada_encontrada.precoDiaria }}</p>
        <p><strong>Estado:</strong> {{ pousada_encontrada.estado }}</p>
    {% endif %}
    
    <a href="/cadastrar_reserva">Cadastrar nova reserva</a>
</body>
</html>

